.input {
    padding: 10px;
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
}

.input2 {
    padding: 10px;
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    width: calc(80vw - 40px);
    height: 100px;
}

.submit {
    border-radius: 5px;
    background-color: lightskyblue;
    padding: 10px;
    color: white;
    border-width: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.errorText {
    margin-top: 20px;
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}