.container {
    background-color: #c5ebca;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.text {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button {
    border-radius: 15px;
    border-width: 2px;
    padding: 15px;
    font-size: 25px;
    color: black;
}