.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    min-height: calc(100vh - 80px);
}

.journalTypeText {
    margin-top: 50px;
    font-size: 50px;
    color: black;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divider {
    width: 80%;
    margin-top: 50px;
}

.titleText {
    font-size: 30px;
    font-weight: bold;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dateText {
    font-size: 17px;
    font-weight: bold;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contentText {
    font-size: 17px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.entryContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80vw;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.backButton {
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    position: absolute;
    left: 12vw;
    margin-top: 50px;
    z-index: 1;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
}

.newEntryContainer {
    width: 80vw;
    padding-right: 20px;
    padding-left: 20px;
}